# Eclipse
.classpath
.project
.settings/
 
# Intellij
.idea/
*.iml
*.iws
 
# Maven
log/
target/

# Vagrant
vm/*.log
vm/.vagrant/

# Bookscanner
src/main/resources/bookscanner/books/
src/main/resources/bookscanner/metadata/
src/main/resources/bookscanner/csv/